[Unit]
Description=XiHan

[Service]
WorkingDirectory=/home/web/xihan.fun/api
ExecStart=/usr/bin/dotnet /home/web/xihan.fun/api/XiHan.WebHost.dll --urls=http://*:9708 --ip=127.0.0.1
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=XiHan
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
