<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <WebPublishMethod>Custom</WebPublishMethod>
        <DockerPublish>true</DockerPublish>
        <RegistryUrl>https://registry.hub.docker.com/xihanfun</RegistryUrl>
        <UserName>xihanfun</UserName>
        <PublishProvider>ContainerRegistry</PublishProvider>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <ProjectGuid>4c00412e-4cb4-44d7-b97f-8863cc10538d</ProjectGuid>
        <_TargetId>DockerContainerRegistry</_TargetId>
        <PublishImageTag>0.4.2</PublishImageTag>
    </PropertyGroup>
</Project>